.about-commitment {
    margin-bottom: 256px;
    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item {
        max-width: 540px;
        width: 100%;
    }
    &__heading {
        margin-bottom: 32px;
        font-family: 'Fraunces';
        font-style: 400;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #333D4B;
    }
    &__text {
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        opacity: 0.8;
    }
}