/* navigation start */

.nav {
    margin-bottom: 43px;
    margin-top: 44px;
}

.nav__item {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.nav__item-list {
    display: flex;
}

.nav-link__item {
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
    text-transform: uppercase;
}

.nav-link__item--active {
    color: #333D4B;
}
