.order {
    
    &__container {
        max-width: 1110px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;        
        display: flex;
        justify-content: space-between;
    }
    
    &__list {
        max-width: 255px;
        width: 100%;
    }
    
    &__link {
        display: flex;
        align-items: center;
        padding-bottom: 24px;
        padding-top: 24px;
    }

    &__link-number-heading {
        padding-right: 24px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #0E8784;
        opacity: 0.5; 
    }

    
    &__link-number {
        padding-right: 24px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;      
        opacity: 0.5; 
    }
    
    &__link-number--avtive {
        color: #83888F;
        opacity: 1;
    }
    
    &__link-item {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        opacity: 0.5;       
        margin: 0; 
    }

    &__link-item--active {
        color:#333D4B;
        opacity: 1;
    }

    &__radio-wraper {
        max-width: 730px;
        width: 100%;
        margin-bottom: 88px;
    }

    &__radio-heading-warper {
        display: flex;
    }

    &__radio-heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888F;
        padding-right: 80px;
        padding-bottom: 56px;
    }

    &__form-lable {
        display: inline-block;
    }

    &__form-custom:hover {
        background-color: #FDD6BA;
    }

    &__form-lable + &__form-lable {
        margin-left: 19px;
    }

    &__form-radio:checked + &__form-custom {
        background-color: #0E8784;
    }

    &__form-custom { 
        display: flex;
        flex-direction: column;
        max-width: 228px;
        min-height: 250px;
        width: 100%;
        background-color: #F4F1EB;
        border-radius: 8px;
        padding: 32px 25px 84px;
        transition: background 250ms;
    }

    &__form-title {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        padding-bottom: 28px;
    }

    &__form-text {
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }

    &__radio-big-wraper {
        display: flex;
        flex-direction: column;
    }
}