.plan-proces__container {
    background-color: #333D4B;
    padding: 91px 150px 17px 85px;
    border-radius: 15px;

        &__text {
            color: #FEFCF7;
        }

        &__heading {
            color: #FEFCF7;
        }
        
}